@using Campus_Cart_Student_Marketplace.Models
@inject NavigationManager Nav
@rendermode InteractiveServer
@inject Campus_Cart_Student_Marketplace.Services.CategoryService CategoryService

<div class="product-card" @onclick="HandleSearch">

    <div class="product-card__image-container">
        <img src="@item.ImageUrl" alt="@item.Title" class="product-card__image" />
    </div>

    <div class="product-card__details">

        <h3 class="product-card__title">
            @item.Title
        </h3>

        <p class="product-card__price">
            ₦@item.Price.ToString("N0")
        </p>

        <div class="product-card__meta">
            <span>@CategoryService.GetCategoryById(item.CategoryId).Name</span>
        </div>

        <div class="product-card__footer">
            <span>@item.CreatedAt</span>
        </div>

    </div>

</div>

@code {


    [Parameter]
    public Item item {get; set;} = new();
    
    

    public void HandleSearch()
    {    
       Nav.NavigateTo($"/item/{item.Id}");
    }

}