@page "/item/{Id:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Campus_Cart_Student_Marketplace.Components.Shared
@using Campus_Cart_Student_Marketplace.Models
@inject Campus_Cart_Student_Marketplace.Services.ItemService ItemService
@inject Campus_Cart_Student_Marketplace.Services.CategoryService CategoryService
@inject Campus_Cart_Student_Marketplace.Services.CartService CartService


@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<PageTitle>Campus Cart - @Item.Title</PageTitle>
<div class="main">
    <div class="item-details">

        <div class="item-details__gallery">

            <img class="main-image"
                src="@Item.ImageUrl"
                alt="@Item.Title" />

            <div class="thumbnail-list">

                <img src="@Item.ImageUrl" alt="" />
                <img src="@Item.ImageUrl" alt="" />
                <img src="@Item.ImageUrl" alt="" />

            </div>

        </div>

        <div class="item-details__info">

            <span class="item-category">
                @CategoryService.GetCategoryById(Item.CategoryId).Name
            </span>

            <h1>
                @Item.Title
            </h1>

            <div class="item-price">
                ₦@Item.Price
            </div>

            <p class="item-description">

                @Item.Description

            </p>

            <div class="item-meta">

                <div>
                    <strong>Condition</strong>
                    <span>@Item.Condition</span>
                </div>

                <div>
                    <strong>Location</strong>
                    <span>University Campus</span>
                </div>

                <div>
                    <strong>Posted</strong>
                    <span>@Item.CreatedAt</span>
                </div>

            </div>

            <div class="seller-card">

                <div class="seller-avatar">
                    JD
                </div>

                <div>

                    <h3>John Doe</h3>

                    <p>Student Seller</p>

                </div>

            </div>

            <div class="details-actions">

                <button class="primary-btn" @onclick="HandleContact">
                    Contact Seller
                </button>

                <button class="primary-btn" @onclick="ToCart">
                    Save Item
                </button>

            </div>

        </div>

    </div>

    <section class="promo">

        <div class="promo__header">

            <div>
                <h2 class="promo__title">
                    Similar Items
                </h2>

                <p class="promo__subtitle">
                    Other items you may like.
                </p>

            </div>

        </div>

        <div class="promo__list">
            @if (Items.Count <= 0)
            {
                @for (int i = 0; i < 12; i++)
                {
                    <Loading Text="Loading marketplace items..." />
                }
            }
            else
            {
                @foreach(var I in Items){
                    <ItemComponent item=@I />    
                }
            }

        </div>

    </section>
</div>

@code {

    [Parameter]
    public int Id { get; set; }
    private Item Item = new Item();

    private List<Item> Items = [];
    private List<Category> Categories = [];
    private ApplicationUser CurrentUser = new();

    protected override async Task OnInitializedAsync()
    {
        var authState =
            await AuthStateProvider.GetAuthenticationStateAsync();

        Console.WriteLine(
            $"Authenticated: {authState.User.Identity?.IsAuthenticated}");

        var user =
            await UserManager.GetUserAsync(authState.User);
        CurrentUser = user;

        Item = await ItemService.GetItemByIdAsync(Id);
        Items = await ItemService.GetItemsByCategoryAsync(Item.CategoryId);
        Categories = CategoryService.GetCategories();
    }

    public void HandleContact()
    {    
       Console.WriteLine(Item.SellerId);
       Nav.NavigateTo($"/contact-seller/{Id}");
    }

    public async Task ToCart()
    {
        if (CurrentUser == null)
        {
            Nav.NavigateTo("/login", true);
            return;
        }
        await CartService.AddToCart(Item, CurrentUser.Id);
        Nav.NavigateTo($"/cart");
    }
    

}